/* Variables */

$font-title: 'Work Sans', sans-serif;
$font-text: 'Roboto', sans-serif;

$color-yellow: #e4c03c;
$color-dark: #222222;
$color-gray: #777777;

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}