/* Variables */
$font-title: 'Work Sans', sans-serif;
$font-text: 'Roboto', sans-serif;

$color-yellow: #eac027;
$color-dark: #222020;
$color-footer: #555555;
$color-darker-gray: #6a6969;
$color-gray: #777777;
$color-light: #f7f7f7;
$color-light-opacity: #f7f7f7f1;
$color-white: #ffffff;

$font-xs: 13px;
$font-s: 16px;
$font-m: 19px;
$font-l: 27px;
$font-xl: 42px;
$font-xxl: 67px;

/* Global */

body, *, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section {
    padding: 120px 0;
}

.title, .subtitle {
    text-align: center;
}

.title {
    font-family: $font-title;
    font-weight: 700;
    color: $color-dark;
    font-size: $font-xl;
    margin-bottom: 20px;
}

.subtitle {
    font-family: $font-title;
    color: $color-gray;
    font-style: italic;
    font-size: $font-s;
    margin-bottom: 80px;
}

.title-small {
    font-family: $font-title;
    font-weight: 700;
    font-size: $font-m;
    color: $color-dark;
}

.description {
    font-family: $font-text;
    font-weight: 400;
    font-size: $font-xs;
    color: $color-gray;
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}

/* Header */

header {
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../images/hero.png");
    background-color: #948F82;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navigation */

nav {
    padding-top: 40px;
}

.logo {
    font-family: $font-title;
    font-size: $font-l;
    color: $color-yellow;
    text-decoration: none;
}

.menu {
    width: 100%;
}

ul {
    list-style: none;
}

.menu li {
    font-family: $font-text;
    font-size: $font-xs;
    font-weight: 400;

    a {
        text-decoration: none;
        color: $color-white;
        transition: all .4s;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }

    a:hover {
        border-bottom: 1px solid $color-white;
    }
}

@media (max-width: 600px) {
    .menu-wrapper {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 40px;
            right: 20px;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;            
        }

        label {
            position: absolute;
            display: block;
            width: 30px;
            height: 30px;
            top: 40px;
            right: 20px;

            span {
                display: none;
            }

            div {
                display: block;
                width: 30px;
                height: 2px;
                margin-bottom: 6px;
                position: relative;
                background-color: $color-white;
                border-radius: 3px;
                z-index: 1;
                -webkit-transform-origin: 4px 0px;  
                -ms-transform-origin: 4px 0px;  
                transform-origin: 4px 0px;
                -webkit-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;                
            }

            div:first-child {
                -webkit-transform-origin: 0% 100%;
                -ms-transform-origin: 0% 100%;
                transform-origin: 0% 100%;                
            }

            div:nth-child(2) {
                -webkit-transform-origin: 0% 0%;
                -ms-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
            }
        }

        .menu li a {
            color: $color-footer;
            font-size: $font-m;
        }

        .menu li a:hover {
            border-bottom: 1px solid $color-footer;
        }

        .menu {
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            max-height: 400px;
            background-color: $color-light-opacity;
            flex-direction: column;
            align-items: center;
            justify-content: space-around!important;
            transition: all 0.4s ease;
        }
    }

    .menu-wrapper input:checked + label div {
        background-color: $color-footer;
    }

    .menu-wrapper input:checked ~ ul {
        top: 0;
    }
}

@media (min-width: 601px) {
    .hamburger-trigger, .hamburger {
        display: none;
    }
}

/* Intro */

.intro {
    text-align: center;
    color: $color-white;
    padding: 160px 0;

    h2 {
        font-family: $font-title;
        font-size: $font-xl;
        font-style: italic;
    }

    h1 {
        font-family: $font-title;
        font-size: $font-xxl;
        font-weight: 700;
        margin: 50px 0 60px;
    }

    .btn-intro {
        background-color: $color-yellow;
        color: $color-white;
        padding: 25px 50px;
        text-decoration: none;
        font-family: $font-text;
        font-weight: 700;
        font-size: $font-m;
        border-radius: 5px;
    }
}

@media (max-width: 600px) {
    .intro h1 {
        font-size: $font-xl;
    }
}

/* Services */

.services {
    text-align: center;

    #icon-basket, #icon-laptop {
        width: 40px;
    }

    #icon-locked {
        width: 30px;
    }

    img {
        display: block;
    }

    .image {
        border: 2px solid $color-yellow;
        width: 68px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-bottom: 30px;
    }

    .title-small {
        margin-bottom: 15px;
    }

    .service {
        padding: 25px 15px;
        max-width: 322px;
    }

    .subtitle {
        margin-bottom: 55px;
    }

}

/* Portfolio */

.portfolio {
    background-color: $color-light;

    .tile {
        background-color: $color-white;
        width: 100%;
    }

    img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }

    .tile-description {
        padding: 30px 15px;
        text-align: center;
    }

    .title-small {
        margin-bottom: 5px;
    }

    .description {
        font-family: $font-text;
    }

    .tile-image {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        overflow: hidden;
    }

    .tiles > div {
        max-width: 324px;
    }
}

/* Footer */

footer {
    padding: 40px 0;
    position: relative;
    height: 120px;
    box-sizing: border-box;

    .copyright {
        font-family: $font-title;
        font-size: $font-xs;
        color: $color-darker-gray;
        line-height: 40px;
    }

    .image {
        background-color: $color-dark;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s;
    }

    .social-links > .col {
        max-width: 50px;
    }

    .socials {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 850px) {
    footer {
        text-align: center;

        .socials {
            position: relative;
        }

        .social-links {
            justify-content: center;
        }

        .copyright {
            margin-bottom: 40px;
            line-height: normal;
        }
    }
}